<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqf.generator.mapper.GenDataSourceMapper" >
  <resultMap id="BaseResultMap" type="com.hqf.generator.model.GenDataSource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="database_type" property="databaseType" jdbcType="VARCHAR" />
    <result column="database_name" property="databaseName" jdbcType="VARCHAR" />
    <result column="server" property="server" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, description, database_type, database_name, server, port, username, password, 
    create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gen_data_source
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gen_data_source
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hqf.generator.model.GenDataSource" >
    insert into gen_data_source (id, description, database_type, 
      database_name, server, port, 
      username, password, create_by, 
      create_date, update_by, update_date
      )
    values (#{id,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{databaseType,jdbcType=VARCHAR}, 
      #{databaseName,jdbcType=VARCHAR}, #{server,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hqf.generator.model.GenDataSource" >
    insert into gen_data_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="databaseType != null" >
        database_type,
      </if>
      <if test="databaseName != null" >
        database_name,
      </if>
      <if test="server != null" >
        server,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="databaseType != null" >
        #{databaseType,jdbcType=VARCHAR},
      </if>
      <if test="databaseName != null" >
        #{databaseName,jdbcType=VARCHAR},
      </if>
      <if test="server != null" >
        #{server,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqf.generator.model.GenDataSource" >
    update gen_data_source
    <set >
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="databaseType != null" >
        database_type = #{databaseType,jdbcType=VARCHAR},
      </if>
      <if test="databaseName != null" >
        database_name = #{databaseName,jdbcType=VARCHAR},
      </if>
      <if test="server != null" >
        server = #{server,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqf.generator.model.GenDataSource" >
    update gen_data_source
    set description = #{description,jdbcType=VARCHAR},
      database_type = #{databaseType,jdbcType=VARCHAR},
      database_name = #{databaseName,jdbcType=VARCHAR},
      server = #{server,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.hqf.generator.model.GenDataSource" >
    select
    <include refid="Base_Column_List" />
    from gen_data_source
    where 1=1
    <if test="description != null and description != ''">
      and description = #{description,jdbcType=VARCHAR}
    </if>
    <if test="databaseName != null and databaseName != ''">
      and database_name = #{databaseName,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>